# python==3.12.7
tensorflow==2.18.0
keras==2.18.0 # override with tf-keras due to hugging face compatibility
transformers==4.44.2
keras-nlp==0.0.2
pandas==2.2.2
biopython==1.84
pyspark==3.5.3
scikit-learn==1.5.2
plotly==5.24.1